<div class="section-wrapper portfolio-section" id="portfolio">
  <div class="ui container central-content">
    <div class="ui two column centered grid">
      <div class="column center aligned">
        <div class="ui breadcrumb">
          <div *ngFor="let service of services" class="section">{{ service }} <div class="divider"> / </div></div>
        </div>
        <p class="title">{{title1}}</p>
        <p class="title">{{title2}}</p>
        <div class="padding-top">
          <p>{{intro}}</p>
        </div>
      </div>  
    </div>  
  </div>
</div>  