<div class="ui container">
  <div class="ui text menu">
    <div class="header item">
      @Ed
    </div>
    <a class="item" scrollTo href="#full-stack">
      Full Stack
    </a>
    <a class="item" scrollTo href="#working-on">
      Working On
    </a>
    <a class="item" scrollTo href="#uxd">
      UXD
    </a>
    <div class="right menu">
      <a class="ui item">
        <i class="envelope icon"></i>
      </a>
      <a class="ui item">
        <i class="github icon"></i>
      </a>
      <a class="ui item">
        <i class="behance icon"></i>
      </a>
    </div>
  </div>
</div>