<div class="ui container">
  <div class="ui text menu">
    <a class="header item" [class.active]="currentSection == 'portfolio'" scrollTo href="#portfolio">
      @Ed
    </a>
    <a class="item" [class.active]="currentSection == 'full-stack'" scrollTo href="#full-stack">
      Full Stack
    </a>
    <a class="item" [class.active]="currentSection == 'working-on'" scrollTo href="#working-on">
      Working On
    </a>
    <a class="item" [class.active]="currentSection == 'uxd'" scrollTo href="#uxd">
      UXD
    </a>
    <a class="item" [class.active]="currentSection == 'more'" scrollTo href="#more">
      More
    </a>
    <div class="right menu">
      <a class="ui item">
        <i class="envelope icon"></i>
      </a>
      <a class="ui item">
        <i class="github icon"></i>
      </a>
      <a class="ui item">
        <i class="behance icon"></i>
      </a>
    </div>
  </div>
</div>