<div class="section-wrapper extends bg-white" id="full-stack">
  <div class="ui container">
    <h3 class="ui icon header left-aligned">
      <i class="code icon"></i>
      <div class="content">
        Skill sets
        <div class="sub header">Rating is based on self-confidence from previous projects.</div>
      </div>
    </h3>
    <div>
      <div style="display: block; width: 95%; margin: 25px 0;">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                [colors]="barChartColor"></canvas>
      </div>
    </div>
    <div class="ui divider"></div>
    <div>
      asd
    </div>
  </div>
</div>